@charset "UTF-8";

html{
    font-size: 100%;
}

body{
    color: #333;
    font-size: 0.875rem;
}

img{
    max-width: 100%;
}

ul{
    list-style: none;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.inner{
    max-width: 800px;
    margin: 0 auto;
}

.section-title{
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}

#header .site-title img{
    width: 180px;
    margin-top: 60px;
    margin-bottom: 3px;
}

.mainvisual{
    margin-bottom: 60px;
}

#index {
    background-color: #f5f5f5;
    padding: 60px;
    margin-bottom: 60px;
}

#index .index-inner {
    border: solid 1px #333;
    padding: 30px;
}

#index .index-inner .index-list{
    display: table;
    margin: 0 auto;
}

#index .index-inner .index-list li{
    margin-bottom: 20px;
}

#index .index-inner .index-list li:last-child{
    margin-bottom: 0;
}

.list{
    display: flex;
    flex-wrap: wrap;
    /* このコードの意味が掴めない */
    /* space-between = 両端固定＋間を広げる */
    justify-content: space-between;
    margin-bottom: 45px;
}

.list li{
    width: 49%;
    margin-bottom: 15px;
}

.list li img {
    /* このコード初見でむずい */
    vertical-align: bottom;
}

#detail{
    background-color: #f5f5f5;
    padding: 60px;
    margin-bottom: 60px;
}

#detail .flex{
    display: flex;
}

#detail dl {
    width: 35%;
    border-right: solid 1px #333;
    padding-right: 40px;
}

#detail dt{
    font-weight: bold;
}

#detail dd {
    margin-bottom: 10px;
}

#detail dd:last-child{
    margin-bottom: 0;
}

#detail .text{
    width: 65%;
    padding-left: 40px;
}

#detail .text p {
    margin-bottom: 20px;
}

#detail .text .link {
    color: #333;
}

#detail .text .link:hover{
    opacity: 0.8;
}

#footer {
    font-size: 0.625rem;
    padding: 15px 0;
    text-align: center;
}

/* 明日(12/24)レスポンシブやる */