@charset "UTF-8";

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.inner{
    max-width: 800px;
    margin: 0 auto;
}

.section-title{
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}

#header .site-title img{
    width: 180px;
    margin-top: 60px;
    margin-bottom: 3px;
}

.mainvisual{
    margin-bottom: 60px;
}

#index {
    background-color: #f5f5f5;
    padding: 60px;
    margin-bottom: 60px;
}

#index .index-inner {
    border: solid 1px #333;
    padding: 30px;
}

#index .index-inner .index-list{
    display: table;
    margin: 0 auto;
}

#index .index-inner .index-list li{
    margin-bottom: 20px;
}

#index .index-inner .index-list li:last-child{
    margin-bottom: 0;
}

